IoT_Example/Server.json
[{"id":"dede5f48.17b74","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"172adf97.7b11b","type":"serial in","z":"dede5f48.17b74","name":"CPX","serial":"aece819d.968a6","x":190,"y":180,"wires":[["6025afe.21da85"]]},{"id":"9512320e.a9be2","type":"debug","z":"dede5f48.17b74","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":400,"wires":[]},{"id":"969999e3.e05f08","type":"mqtt out","z":"dede5f48.17b74","name":"mqtt","topic":"","qos":"","retain":"","broker":"24383f84.9762","x":490,"y":240,"wires":[]},{"id":"6025afe.21da85","type":"function","z":"dede5f48.17b74","name":"","func":"//(new Date()).toISOString()\n\nvar parts = msg.payload.trim().split(':');\nvar new_msg = {payload:{timestamp: new Date(), value: parts[1]}};\n\nswitch(parts[0]) {\n  case 'L':\n    new_msg.topic = '/light'\n    break;\n  case 'T':\n    new_msg.topic = '/temperature'\n    break;\n  case 'S':\n    new_msg.topic = '/sound'\n    break;\n  default:\n    return\n}\n\nreturn new_msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":320,"wires":[["969999e3.e05f08","9512320e.a9be2"]]},{"id":"aece819d.968a6","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"24383f84.9762","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]